*.log
*.pyc
.cache/
.coverage
.idea/
.vscode/
shore.egg-info/
build/
dist/
docs/build/
venv/
wheelhouse/
shore/dist/
shore/node_modules/
shore/webpack-stats.json
shore/webpack-stats-prod.json
shore/package-lock.json
shore/staticfiles
shore/__pycache__/*.swp
*.swp
webpack-stats.json
webpack-stats-prod.json
node_server/node_modules
